  <!-- Modals -->
  <div ng-controller="modalController">

        <div class="modal fade" id="university-modal" tabindex="-1" role="dialog" aria-labelledby="university-modalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

              </div>
              <div class="modal-body text-center">
              <img class="modal-comment-photo img-circle" src="{{user.thirdPartyUserData.picture}}"/>

              <form novalidate name="universityComment">
              <!-- ng-model="university" here is putting the option as selected accordingly to the angular.forEach in modalController -->
                  <select ng-model="university"  class="form-control" ng-options="universityObject.name for universityObject in allUniversities">
                    <option label="Select one University" value="">Select one University</option>
                  </select>
                  <textarea ng-model="comment_university" class="col-lg-12 modal-comment-post" name="comment_university"></textarea>
                  </div>
                    <div class="clearfix"></div>
                  <div class="modal-footer">
                    <button type="submit" ng-click="postUniversity()" class="btn btn-primary btn-block">Post as <Strong class="user-name" ng-bind="user.name"></Strong></button>
              </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Accomodation Modal -->
        <div class="modal fade" id="accomodation-modal" tabindex="-1" role="dialog" aria-labelledby="accomodationLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              </div>
              <div class="modal-body text-center">
              <img class="modal-comment-photo img-circle" src="{{user.thirdPartyUserData.picture}}"/>
              <form novalidate name="accommodationComment">
                   <select ng-model="university" ng-options="universityObject.name for universityObject in allUniversities" required name="university" class="form-control" >
                    <option label="Select one University" value="">Select one University</option>
                  </select>
                   <select ng-model="accommodation" ng-options="accommodationObject.name for accommodationObject in accommodations" required class="form-control" ng-change="getCommentsByAccommodation()">
                     <option label="Select one Accommodation" value="">Select one Accommodation</option>
                    </select>
              <textarea ng-model="comment_accommodation" class="col-lg-12 modal-comment-post"></textarea>
              </div>
                <div class="clearfix"></div>
              <div class="modal-footer">
                <button ng-click="postAccommodation()" type="button" class="btn btn-primary btn-block">Post as <Strong>Diego Arcega</Strong></button>
              </div>
            </div>
          </div>
        </div>
        <!-- Upload photo modal -->
        <div class="modal fade" id="upload-photo-modal" tabindex="-1" role="dialog" aria-labelledby="upload-photoLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

              </div>
              <div class="modal-body text-center">
              <img class="modal-comment-photo img-circle" src="{{user.thirdPartyUserData.picture}}" />
              <select ng-model="university" ng-options="universityObject.name for universityObject in allUniversities" required name="university" class="form-control" >
                    <option label="Select one University" value="">Select one University</option>
                  </select>
              <select ng-model="accommodation" ng-options="accommodationObject.name for accommodationObject in accommodations" required class="form-control" ng-change="getCommentsByAccommodation()">
                     <option label="Select one Accommodation" value="">Select one Accommodation</option>
                    </select>
              <input id="accommodation-photo" type="file" class="file"   multiple=true accept="image/*" >
              </div>
                <div class="clearfix"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block">Post as <Strong class="user-name"></Strong></button>
              </div>
            </div>
          </div>
        </div>
        <!-- Login modal -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
          <div class="modal-dialog" style="width: 370px;">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

              </div>
              <div class="modal-body text-center">
              <img class="modal-comment-photo img-circle" src="images/notloggedin.png" />

              </div>
                <div class="clearfix"></div>
              <div class="modal-footer center-element">
                <button class="zocial googleplus" style="font-size: 18px;" scope="public_profile,email" ng-click="login()">Sign in with Google+</button>
                <!-- <div class="btn-auth btn-facebook large" scope="public_profile,email" ng-click="login()"  data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false">  Sign in with <b>Facebook</b></div> -->
              </div>
            </div>
          </div>
        </div>

</div>
<!-- closing the modal controller -->