<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Science without Borders - Angular JS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="bower_components/jquery-listnav/css/listnav.css" />
        <link rel="stylesheet" href="bower_components/bootstrap-fileinput/css/fileinput.min.css" />
        <link href="bower_components/lightbox/css/lightbox.css" rel="stylesheet" />
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

    </head>
    <body ng-app="swbApp">
    <div id="fb-root"></div>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="container-full cover" ng-controller="modalController">
          <div class="container">    
            <div class="user-logged-div pull-right">
              <span class="user-logged-name">
                <a ng-click="logOut()" href="#" class="logout white">logout</a>
              </span>
            </div>
            <ul class="nav navbar-nav top-nav ">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#/stepbystep">Step by Step</a></li>
                <li><a href="#/choose_university">Universities</a></li>
                <li><a href="forum/phpBB3/" target="_blank">Forum</a></li>
                <li><a href="#/videos">Videos</a></li>
                <li><a href="#/documents">Documents</a></li>
                <li><a href="#/externallinks">External Links</a></li>
            </ul>
          </div>
      <div class="container">
        <h1 class="brand text-center">SCIENCE WITHOUT BORDERS UK</h1>
      </div>
      </div>

      <div class="container bg-container main-content">
          <div ng-view=""></div>          
      </div>
      
      <div class="container"> 
        <div class="footer">
                <p class="pull-left">Independent portal for Science without Borders</p>
                <ul class="list-unstyled list-inline pull-right">
                  <li><a href="#/stepbystep">Step by Step</a></li>
                  <li><a href="#/universities">Universities</a></li>
                  <li><a href="http://www.cienciasemfronteiras.gov.br/web/csf">Increva-se no Ciencia sem Fronteiras</a></li>
                  <li><a href="https://apply.sciencewithoutborders.international.ac.uk/university/">SwB International</a></li>
                </ul>
        </div>
      </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/bootstrap/js/affix.js"></script>
        <script src="bower_components/bootstrap/js/alert.js"></script>
        <script src="bower_components/bootstrap/js/dropdown.js"></script>
        <script src="bower_components/bootstrap/js/tooltip.js"></script>
        <script src="bower_components/bootstrap/js/modal.js"></script>
        <script src="bower_components/bootstrap/js/transition.js"></script>
        <script src="bower_components/bootstrap/js/button.js"></script>
        <script src="bower_components/bootstrap/js/popover.js"></script>
        <script src="bower_components/bootstrap/js/carousel.js"></script>
        <script src="bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/bootstrap/js/collapse.js"></script>
        <script src="bower_components/bootstrap/js/tab.js"></script>
        <script src="bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>
        <script src="bower_components/jquery-listnav/jquery-listnav.js"></script>
        <script src="bower_components/lightbox/js/lightbox.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="../scripts/app.js"></script>
        <script src="scripts/controllers/indexController.js"></script>
        <script src="scripts/controllers/chooseUniversityController.js"></script>
        <script src="scripts/controllers/universityProfileController.js"></script>
        <script src="scripts/controllers/modalController.js"></script>
        <script src="scripts/directives/indexDirective.js"></script>
        <!-- endbuild -->
</body>
</html>
