          <div ng-include="modal.url"></div>

          <h4><span class="theme-font-color"> Choose one University </span></h4>
          <div class="text-center">
            <h3>Check out what students have to say about the universities</h3>
            <p>General comments about the university, courses, accommodation and a gallery of the accommodation</p><br />
          </div>

          <div class="row">
            <div class="col-lg-12" ng-controller="indexController">
              <div id="universities-list-nav" class="listNav"></div>
                            <ul id="universities-list" class="universities img-rounded" exists="false">
                                <li ng-repeat="value in allUniversities | split"><a href="#/university_profile/{{value.id}}" >{{value.name}}</a><p class="last-name">{{value.lastName[2]}}</p></li>
                            </ul>
                            <div class="row text-center" style="margin-bottom: 10em;">
                                <p>Have you studied in the U.K.? Great!Help others with your experience!</br>
                                Leave a tip or a comment about an:</p>
                                <button class="btn btn-default btn-university" name="university-modal" ng-click="islogged(section,$event)">University</button>
                                <button class="btn btn-default btn-university" name="accomodation-modal" ng-click="islogged(section,$event)">Accommodation</button>or
                                <button type="" class="btn btn-default btn-university" name="upload-photo-modal" ng-click="islogged(section,$event)">Upload a photo of your accommodation</button>
                            </div>

            </div>
          </div>

