
        <div class="documents">
            <div class="row">
               <h4 class="theme-font-color">Documents for download</h4>
               <ul class="documents-list table-striped">
                   <li><a href="#">Cartilha_CsF_.pdf</a></li>
                   <li><a href="#">Guide to Life in the UK.pdf</a></li>
                   <li><a href="#">Making a Tier 4 (General) visa application.pdf</a></li>
                   <li><a href="#">Manual-do-Bolsista-CsF-Graduacao-Sanduiche-mar-2014.pdf</a></li>
                   <li><a href="#">Nucleo de Assistencia no Exterior.pdf</a></li>
                   <li><a href="#">Pre-departure guide - January 2014 FINAL.pdf</a></li>
                   <li><a href="#">Science without Borders - Student Handbook Jan 14.pdf</a></li>
                   <li><a href="#">SwB Undergraduate Placements - HEI Guidance Feb13.pdf</a></li>
                   <li><a href="#">T4_Guidance_06-04-14.pdf</a></li>
                   <li><a href="#">requisitos-para-a-tradu‡Æo-do-hist¢rico-escolar.pdf</a></li>
                   <li><a href="#">swb-english-language-brochure-port-may2013-v1.pdf</a></li>
               </ul>
                
          </div>
        </div>                
               