        <div class="external-links">
            <div class="row">
               <h4 class="theme-font-color m-bottom-0">External Links</h4>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="http://enem.inep.gov.br/" target="_blank"><img src="images/enem.png" class="img-responsive img-rounded"></a>
                    <a href="http://enem.inep.gov.br/" target="_blank">ENEM</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-lg-offset-0">
                    <a href="https://ielts.britishcouncil.org/" target="_blank"><img src="images/IELTS.png" class="img-responsive img-rounded"></a>
                    <a href="https://ielts.britishcouncil.org/" target="_blank">IELTS English Examination</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="http://www.cienciasemfronteiras.gov.br/web/csf" target="_blank"><img src="images/CSF.png" class="img-responsive img-rounded"></a>
                    <a href="http://www.cienciasemfronteiras.gov.br/web/csf" target="_blank">Ciência sem fronteiras</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="https://apply.sciencewithoutborders.international.ac.uk/university/" target="_blank"><img src="images/UNILIST.png" class="img-responsive img-rounded"></a>
                    <a href="https://apply.sciencewithoutborders.international.ac.uk/university/" target="_blank">University list - choose yours</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                      <a href="http://sciencewithoutborders.international.ac.uk/" target="_blank"><img src="images/internationalunit.png" class="img-responsive img-rounded"></a>
                    <a href="http://sciencewithoutborders.international.ac.uk/" target="_blank">SwB International unit</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-lg-offset-0">
                    <a href="https://www.gov.uk/tier-4-general-visa" target="_blank"><img src="images/tier4.png" class="img-responsive img-rounded"></a>
                    <a href="https://www.gov.uk/tier-4-general-visa" target="_blank">More information on Tier 4 (General) Student visa</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <img src="images/applyvisa.png" class="img-responsive img-rounded">
                    <a href="https://www.gov.uk/apply-uk-visa" target="_blank">Apply for a Tier 4 (General) Student visa<a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="https://www.gov.uk/find-a-visa-application-centre" target="_blank"><img src="images/applycentre.png" class="img-responsive img-rounded"></a>
                    <a href="https://www.gov.uk/find-a-visa-application-centre" target="_blank">Find a visa application centre in Brazil</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="http://www.ucas.com/" target="_blank"><img src="images/ucas.png" class="img-responsive img-rounded"></a>
                    <a href="http://www.ucas.com/" target="_blank">UCAS - Universities and Colleges Admissions Service</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="http://efomento.cnpq.br/efomento/autenticacao.jsp" target="_blank"><img src="images/efomento.png" class="img-responsive img-rounded"></a>
                    <a href="http://efomento.cnpq.br/efomento/autenticacao.jsp" target="_blank">E-fomento panel</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="http://www.studential.com/guide/write_personal_statement.htm" target="_blank"><img src="images/ps.png" class="img-responsive img-rounded"></a>
                    <a href="http://www.studential.com/guide/write_personal_statement.htm" target="_blank">Writing your personal statement guide</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="http://www.localizacaosemfronteiras.com/" target="_blank"><img src="images/lsf.png" class="img-responsive img-rounded"></a>
                    <a href="http://www.localizacaosemfronteiras.com/" target="_blank">Localização sem fronteiras</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="http://www.redecsf.org/" target="_blank"><img src="images/redecsf.png" class="img-responsive img-rounded"></a>
                    <a href="http://www.redecsf.org/" target="_blank">Rede CsF</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a href="https://www.facebook.com/groups/531438910271915/?fref=ts" target="_blank"><img src="images/panickers.png" class="img-responsive img-rounded"></a>
                    <a href="https://www.facebook.com/groups/531438910271915/?fref=ts" target="_blank">Facebook group - CsF UK Panickers</a>
                </div>
                
          </div>
        </div>