        <!-- Including Modals -->
        <div ng-include="modal.url"></div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="step-by-step col-md-12 col-sm-12 col-xs-12">
               <h4 class="theme-font-color text-center">STEP BY STEP</h4>
               <ul class="steps list-unstyled">
                  <li>
                        <span class="img-circle step-circle pull-left">1</span>
                        <ul class="step-list">
                          <li>ENEM</li>
                          <li>IELTS</li>
                        </ul>
                  </li>
                  <li>
                        <span class="img-circle step-circle pull-left">2</span>
                        <ul class="step-list">
                          <li>Start Application</li>
                          <li>Passport</li>
                          <li>Choose the universities</li>
                        </ul>
                  </li>
                  <li>
                        <span class="img-circle step-circle pull-left">3</span>
                        <ul class="step-list">
                          <li>Personal Statement</li>
                          <li>English Transcript</li>
                          <li>Apply at SwB International</li>
                          <li>Visa Travel Money</li>
                          <li>Tier 4 (General) Student Visa</li>
                        </ul>
                  </li>
              </ul>
              <a class="btn btn-default" href="#/stepbystep">Check each step in detail</a>
            </div>
        </div>

        <div class="universities col-lg-8 col-md-4 col-sm-12 col-xs-12 text-right">
            <h6 class="theme-font-color text-right">Choose your university here, from A-Z:</h6>
                <div id="universities-list-nav" class="listNav"></div>
                    <ul id="universities-list" class="universities img-rounded" exists="false">
                     <li ng-repeat="value in allUniversities | split"><a href="#/university_profile/{{value.id}}" >{{value.name}}</a><p class="last-name">{{value.lastName[2]}}</p></li>

                    </ul>
                      <!-- <li><a href="#" >University of Liverpool</a><p class="last-name">Liverpool</p></li>
                        <li><a href="#" >University of York</a><p class="last-name">York</p></li>
                        <li><a href="#" >University of Edinburgh</a><p class="last-name">Edinburgh</p></li>
                        <li><a href="#" >University of London</a><p class="last-name">London</p></li>
                        <li><a href="#" >University of Chester</a><p class="last-name">Chester</p></li>
                        <li><a href="#" >University of Aberdeen</a><p class="last-name">Aberdeen</p></li>
                        <li><a href="#" >University of Hull</a><p class="last-name">Hull</p></li>
                        <li><a href="#" >University of East London</a><p class="last-name">East London</p></li>
                        <li><a href="#" >University of Dundee</a><p class="last-name">Dundee</p></li>
                        <li><a href="#" >University of Glasgow</a><p class="last-name">Glasgow</p></li>
                        <li><a href="#" >University of Kent</a><p class="last-name">Kent</p></li>
                        <li><a href="#" >University of Bath</a><p class="last-name">Bath</p></li>
                        <li><a href="#" >University of Manchester</a><p class="last-name">Manchester</p></li>
                        <li><a href="#" >University of Newcastle</a><p class="last-name">Newcastle</p></li>
                        <li><a href="#" >University of Oxford</a><p class="last-name">Oxford</p></li>
                        <li><a href="#" >University of Portsmouth</a><p class="last-name">Portsmouth</p></li>
                        <li><a href="#" >University of Belfast</a><p class="last-name">Belfast</p></li>
                        <li><a href="#" >University of Reading</a><p class="last-name">Reading</p></li>
                        <li><a href="#" >University of St Andrews</a><p class="last-name">St Andrews</p></li>
                        <li><a href="#" >University of Surrey</a><p class="last-name">Surrey</p></li>
                        <li><a href="#" >University of Wales</a><p class="last-name">Wales</p></li>
                        <li><a href="#" >University of Cambridge</a><p class="last-name">Cambrigde</p></li>
                        -->
                <p>Have you studied in the U.K.? Great!Help others with your experience!</br>
                Leave a tip or a comment about an:</p>
                <button type="" class="btn btn-default btn-university" name="upload-photo-modal" ng-click="islogged(section,$event)">Upload a photo of your accommodation</button> or
                <button class="btn btn-default btn-university" name="university-modal" ng-click="islogged(section,$event)">University</button>
                <button class="btn btn-default btn-university" name="accomodation-modal" ng-click="islogged(section,$event)">Accommodation</button>
        </div>

    </div>

<div class="clearfix"></div>
<div class="video-index">
    <div class="">
            <iframe width="320" height="250" src="https://www.youtube.com/embed/06_Ug0nET8I?rel=0" frameborder="0" allowfullscreen></iframe>
            <iframe width="320" height="250" src="https://www.youtube.com/embed/lImjnmu6V0o?rel=0" frameborder="0" allowfullscreen></iframe>
            <iframe width="320" height="250" src="https://www.youtube.com/embed/zqVoqTcFKVg?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<!-- Quote carousel start -->
<div>
  <div class="row">
    <div class="forum-topics  col-md-3 col-sm-12 col-xs-12">
      <ul class="list-unstyled list-group">
        <li><a href="forum/phpBB3/viewforum.php?f=11" class="list-group-item">Choosing the University</a></li>
        <li><a href="forum/phpBB3/viewforum.php?f=1" class="list-group-item">Accommodation</a></li>
        <li><a href="forum/phpBB3/viewforum.php?f=12" class="list-group-item">Tier 4(General) Visa</a></li>
        <li><a href="forum/phpBB3/viewforum.php?f=13" class="list-group-item">Visa Travel Money</a></li>
        <li><a href="forum/phpBB3/viewforum.php?f=14" class="list-group-item">English Requirements(IELTS)</a> </li>
      </ul>
    </div>


  <div class="div-carousel col-md-9">
    <h5 class="theme-font-color text-right"> THE FORUM </h5>
    <div class='col-md-12'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="images/diego.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="images/diego.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="images/diego.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>

        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
    </div>
  </div>

</div>