
        <div class="stepbystep-page">
            <div class="row">
               <h4><span class="theme-font-color"> Step by step application process </span> </h4>
            </div>
            <div class="row">
            
                  <div class="col-lg-2 step-by-step-span-adjs">
                    <span class="img-circle step-circle">3</span>
                  </div>
                  <div class="col-lg-10 well">
                    <p><small>steps accomplished:</small></p>
                    <div class="col-lg-12">
                      <span class="checklist-item checklist-item-green"><span class="glyphicon glyphicon-ok white"></span> ENEM</span>
                      <span class="checklist-item checklist-item-green"><span class="glyphicon glyphicon-ok white"></span> IELTS</span>
                      <span class="checklist-item checklist-item-green"><span class="glyphicon glyphicon-ok white"></span> Start application</span>
                      <span class="checklist-item checklist-item-green"><span class="glyphicon glyphicon-ok white"></span> Passport</span>
                      <span class="checklist-item checklist-item-green"><span class="glyphicon glyphicon-ok white"></span> Choose university</span>
                    </div>
                  </div>
                  <div class="col-lg-10">
                    Required for the 3rd step:
                    <ul class="documents-list">
                      <li>Historico Escolar translated into English</li>
                      <li>Passport </li>
                      <li>Personal Statement</li>
                      <li>Your 3 choices of University</li>
                    </ul> 
                    <p>After having everything above sorted, apply at <a href="https://apply.sciencewithoutborders.international.ac.uk/" target="_blank">https://apply.sciencewithoutborders.international.ac.uk/</a> </p>
                     
                    <p>Now you need to wait the offer from one of your 3 choices of University. If you don't receive any offer from them, 
                    you are going to be alocated to another University through a process called Clearing.</p>
                     
                    What to do now:
                    <ul class="documents-list">
                      <li>Visa Travel Money (better to issue early on, if the british pound is weak by the time you receive the funds, you should buy them right away)</li>
                      <li>Wait for both the letter from CNPQ(Carta Beneficio) and your CAS from your university, so you can apply for your Tier 4 (General) Student Visa </li>
                    </ul>
                    When you receive Carta Beneficio and the CAS, finally apply for your  Tier 4 visa.
                    <a href="https://www.gov.uk/tier-4-general-visa" class="btn btn-info" target="_blank">Full guide for your Tier 4 (General) Student Visa</a>
                </div>
                 
            </div>
            <div class="row">
              <div class="checklist-area img-rounded col-lg-12">
                <div class="col-lg-2">
                  <p class="checklist-text text-center">checklist</p>
                </div>
                <div class="col-lg-8">
                  <span class="checklist-item checklist-item-red"><span class="glyphicon glyphicon-ok white"></span> Personal Statement</span>
                  <span class="checklist-item checklist-item-red"><span class="glyphicon glyphicon-ok white"></span> English transcript</span>
                  <span class="checklist-item checklist-item-red"><span class="glyphicon glyphicon-ok white"></span> Apply at Swb int</span>
                  <span class="checklist-item checklist-item-red"><span class="glyphicon glyphicon-ok white"></span> VISA Travel Money</span>
                  <span class="checklist-item checklist-item-red"><span class="glyphicon glyphicon-ok white"></span> Tier 4(General) Student Visa</span>
                </div>
                <div class="col-lg-2 text-right">
                      <span class="glyphicon glyphicon-ok font40 green"></span>
                      <p class="green">final step</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="col-lg-2 ln-height80">
                    <span class="img-circle step-circle"><a href="#/stepbystep" class="nostyles-link">1</a></span>
                </div>
                <div class="col-lg-8">
                  <ul class="documents-list small-list">
                    <li>ENEM</li>
                    <li>IELTS</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="col-lg-2 ln-height80">
                    <span class="img-circle step-circle"><a href="#/stepbystep2" class="nostyles-link">2</a></span>
                </div>
                <div class="col-lg-8">
                  <ul class="documents-list small-list">
                    <li>Passport</li>
                    <li>Apply at cienciasemfronteiras.gov.br</li>
                    <li>Choosing the University</li>
                  </ul>
                </div>
              </div>
            </div>
        
        </div>
