
<div class="stepbystep-page">
  <div class="row">
    <h4><span class="theme-font-color"> Step by step application process </span> </h4>
  </div>
  <div class="row">
    <div class="col-lg-2 step-by-step-span-adjs">
        <span class="img-circle step-circle">1</span>
    </div>
    <div class="col-lg-5">
      <h5>Eligibility</h5>
      <ul class="documents-list">
        <li>
        Candidates must be approved for financial sponsorship by the Brazilian Government (CAPES / CNPq). You can apply online at: <a href="http://www.cienciasemfronteiras.gov.br/web/csf" target="_blank"> http://www.cienciasemfronteiras.gov.br/web/csf </a></li>

        <li>Candidates must be Brazilian citizens</li>
         
        <li>Candidates must be currently attending college or university in Brazil</li>
         
        <li>Candidates for the undergraduate programme should have already completed a minimum of 20% of their credits and no more than 90% of their credits</li>
         
        <li>Candidates must be in good academic standing within their own university in Brazil</li>
         
        <li>Candidates must have achieved <strong>600 points or more in ENEM exams</strong>, taken since 2009</li>
         
        <li>Candidates must meet the UKVI minimum English language requirements in order to be eligible for the Tier 4 (General) visa.  </li>
         
        <li>Candidates will need the official certificates for their English language qualification. (More information can be found here)</li>
         
        <li>Candidates must submit official and translated transcripts from an institution recognized by the Brazilian Ministry of Higher Education.  Students must not translate their own transcripts.   These documents will be requested by CNPq / CAPES and also by SwB UK.</li>
      </ul>
    </div>
    <div class="col-lg-5">
          <h5>
            English Requirements
          </h5>
          <p>
            For *direct entry* onto the main course of study with no English language training first, students must achieve the English language level required by UKVI:
            <br /><br />
            <strong>*IELTS scores:- listening 5.5, speaking 5.5, reading 5.5 and writing 5.5*</strong>
            <br /><br /> 
            Students who meet all the requirements for SwB UK (including English language scores) will be able to apply for a place at their chosen 3 universities/courses and start their main course of study straight away.  
             <br /><br />
            Students that meet all the requirements except for the UKVI minimum English language scores may still be eligible to participate in SwB UK if they first complete an English language course prior to starting their main course of study. This English course is often referred to as a 'pre-sessional English language course'. 
          </p>
          <h5>What you need to know</h5>
          <ul>
            <li>Take ENEM exam <a href="http://enem.inep.gov.br/" target="_blank">http://enem.inep.gov.br/</a> </li>
            <li>Take IELTS exam <a href="https://ielts.britishcouncil.org/" target="_blank">https://ielts.britishcouncil.org/</a></li>
          </ul>
          </p>
    </div>
</div>

<div class="row">
  <div class="checklist-area img-rounded col-lg-12">
    <div class="col-lg-2">
      <p class="checklist-text text-center">checklist</p>
    </div>
    <div class="col-lg-8">
      <span class="checklist-item checklist-item-red"><span class="glyphicon glyphicon-ok white"></span> ENEM</span>
      <span class="checklist-item checklist-item-red"><span class="glyphicon glyphicon-ok white"></span> IELTS</span>
    </div>
    <div class="col-lg-2 text-right">
       <a href="#/stepbystep2" class="nostyles-link">
          <span class="glyphicon glyphicon-arrow-right font40"></span>
          <p class="">next step</p>
      </a>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="col-lg-2 ln-height80">
        <span class="img-circle step-circle"><a href="#/stepbystep2" class="nostyles-link">2</a></span>
    </div>
    <div class="col-lg-8">
      <ul class="documents-list small-list">
        <li>Passport</li>
        <li>Apply at cienciasemfronteiras.gov.br</li>
        <li>Choosing the University</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="col-lg-2 ln-height80">
        <span class="img-circle step-circle"><a href="#/stepbystep3" class="nostyles-link">3</a></span>
    </div>
    <div class="col-lg-8">
      <ul class="documents-list small-list">
        <li>Receive CNPQ approval</li>
        <li>Apply at SwB international</li>
        <li>English Transcript</li>
        <li>Personal Statement</li>
        <li>Selecting the Univeristy</li>
        <li>VISA(CAS, CNPQ funding letter)</li>
        <li>VISA travel money</li>
      </ul>
    </div>
  </div>
</div>
</div>
