
        <div class="stepbystep-page">
            <div class="row">
               <h4><span class="theme-font-color"> Step by step application process </span> </h4>
            </div>
            <div class="row">
                  <div class="col-lg-2 step-by-step-span-adjs">
                    <span class="img-circle step-circle">2</span>
                  </div>
                  <div class="col-lg-10 well">
                    <p><small>steps accomplished:</small></p>
                    <div class="col-lg-8">
                      <span class="checklist-item checklist-item-green"><span class="glyphicon glyphicon-ok white"></span> ENEM</span>
                      <span class="checklist-item checklist-item-green"><span class="glyphicon glyphicon-ok white"></span> IELTS</span>
                    </div>
                  </div>
                  <div class="col-lg-10">
                          Once you have received the result for ENEM and IELTS exams. You can move forward with the application process.
 
 
                          <h5>WHAT YOU NEED TO TAKE ACTION ON:</h5>
                          <ul class="documents-list">
                            <li> Apply at  <a href="http://www.cienciasemfronteiras.gov.br" target="_blank">cienciasemfronteiras.gov.br</a>  
                                <small>(Historico Escolar + IELTS certificate are required)</small></li>
                           
                              <li>Issue your Passport
                          <small>(Need to make an appointment)</small></li>
                           
                              <li>Choose the University abroad 
                          <small>(Start choosing the university you want to study in advance at  <a href="https://apply.sciencewithoutborders.international.ac.uk/university/" target="_blank"> https://apply.sciencewithoutborders.international.ac.uk/university/ </a> )</small>   </li>
                            </ul>
                           
                      </ul>
                  </div>
                 
            </div>
            <div class="row">
              <div class="checklist-area img-rounded col-lg-12">
                <div class="col-lg-2">
                  <p class="checklist-text text-center">checklist</p>
                </div>
                <div class="col-lg-8">
                  <span class="checklist-item checklist-item-red"><span class="glyphicon glyphicon-ok white"></span> Start application</span>
                  <span class="checklist-item checklist-item-red"><span class="glyphicon glyphicon-ok white"></span> Passport</span>
                  <span class="checklist-item checklist-item-red"><span class="glyphicon glyphicon-ok white"></span> Choose the university abroad</span>
                </div>
                <div class="col-lg-2 text-right">
                   <a href="#/stepbystep3" class="nostyles-link">
                      <span class="glyphicon glyphicon-arrow-right font40"></span>
                      <p class="">next step</p>
                  </a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="col-lg-2 ln-height80">
                    <span class="img-circle step-circle"><a href="#/stepbystep" class="nostyles-link">1</a></span>
                </div>
                <div class="col-lg-8">
                  <ul class="documents-list small-list">
                    <li>ENEM</li>
                    <li>IELTS</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="col-lg-2 ln-height80">
                    <span class="img-circle step-circle"><a href="#/stepbystep3" class="nostyles-link">3</a></span>
                </div>
                <div class="col-lg-8">
                  <ul class="documents-list small-list">
                    <li>Receive CNPQ approval</li>
                    <li>Apply at SwB international</li>
                    <li>English Transcript</li>
                    <li>Personal Statement</li>
                    <li>Selecting the Univeristy</li>
                    <li>VISA(CAS, CNPQ funding letter)</li>
                    <li>VISA travel money</li>
                  </ul>
                </div>
              </div>
            </div>
        
