<div ng-include="modal.url"></div>

        <div class="universities">
            <div class="row">
               <h4><span class="theme-font-color"> University profile </span></h4>
               <div class="row">
                    <div class="text-center">
                <h2>University of Liverpool</h2>
                <h3>Student's participation</h3>
                <p class="">Here is what the students of the University of Liverpool have to say about their experience: </p>
            </div>
                  <div class="university-block">

                     <div ng-repeat="comments in universityCommentsOBJ | orderBy: 'id':true" class="col-lg-6 col-md-6 col-sm-6 comment">
                        <div class="comment-photo-box text-center">
                            <img class="comment-photo img-circle" src="images/diego.jpg" />
                            <p>Diego Arcega</p>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 comment-box">
                        {{comments.comment}}

                        </div>
                    </div>

                  </div>

                </div>
                <div class="row">
                    <div class="leave-comment text-right">
                        <a href="#">List all other comments</a>
                        <button class="btn btn-primary btn-comment mleft20" name="university-modal" ng-click="islogged(section,$event)">Leave a comment</button>
                    </div>
                </div>
                <div class="row accommodation text-center">
                    <h4>Accommodation's Gallery</h4>
                    <form name="selectAccommodation" novalidate>
                      <select ng-model="accommodation" ng-options="accommodationObject.name for accommodationObject in accommodations track by accommodationObject.id"  class="form-control" ng-change="getCommentsByAccommodation()">{{accommodationObject}}
                      <option label="Select one Accommodation" value="">Select one Accommodation</option>
                      </select>
                    </form>
                    <p ng-bind=""></p>
                </div>
                <div class='row'>
                    <div class='col-md-12'>
                      <div class="carousel slide media-carousel" id="media">
                        <div class="carousel-inner">
                          <div class="item  active">
                            <div class="row">
                              <div class="col-md-3">
                                <a class="thumbnail" href="images/cov.jpg" data-lightbox="img" ><img alt="" src="images/cov.jpg"></a>
                              </div>
                              <div class="col-md-3">
                                <a class="thumbnail" href="images/cover.jpg" data-lightbox="img" ><img alt="" src="images/cover.jpg"></a>
                              </div>
                              <div class="col-md-3">
                                <a class="thumbnail" href="images/cova.jpg" data-lightbox="img" ><img alt="" src="images/cova.jpg"></a>
                              </div>
                              <div class="col-md-3">
                                <a class="thumbnail" href="images/co.jpg" data-lightbox="img" ><img alt="" src="images/co.jpg"></a>
                              </div>
                            </div>
                          </div>
                          <div class="item">
                            <div class="row">
                              <div class="col-md-3">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                              </div>
                              <div class="col-md-3">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                              </div>
                              <div class="col-md-3">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                              </div>
                              <div class="col-md-3">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                              </div>
                            </div>
                          </div>
                          <div class="item">
                            <div class="row">
                              <div class="col-md-3">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                              </div>
                              <div class="col-md-3">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                              </div>
                              <div class="col-md-3">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                              </div>
                              <div class="col-md-3">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media" class="right carousel-control">›</a>
                      </div>
                    </div>

          </div>
          <div class="row">
            <div class="text-center">
                <hr />
                <h3>Accomodation's Comments</h3>
                <p class="">What students are saying about accommodations at the University of Liverpool? </p>
                <hr />
            </div>
            <div class="accommodation-block">
                  <div ng-repeat="comments in accommodationCommentsOBJ | orderBy: 'id':true" class="col-lg-6 col-md-6 col-sm-6 comment">
                        <div class="comment-photo-box text-center">
                            <img class="comment-photo img-circle" src="images/diego.jpg" />
                            <p>Diego Arcega</p>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 comment-box">
                        {{comments.comment}}
                        </div>
                  </div>
            </div>


        </div>

        <div class="clearfix mtop20"></div>

        <div class="row">
            <div class="leave-comment text-right">
                <a href="#">List all other comments</a>
                <button class="btn btn-info btn-comment mleft20" name="upload-photo-modal" ng-click="islogged(section,$event)">Upload photos</button>
                <button class="btn btn-primary btn-comment" name="accomodation-modal" ng-click="islogged(section,$event)">Leave a comment</button>
            </div>
        </div>

        </div></div>
