
        <div class="videos">
            <div class="row">
               <h4 class="theme-font-color">Videos</h4>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <p>Science without Borders UK</p>
                    <iframe width="100%" height="280" src="https://www.youtube.com/embed/I-9wCJp5FxA?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-lg-offset-0">
                    <p>How to apply to a British University</p>
                    <iframe width="100%" height="280" src="https://www.youtube.com/embed/06_Ug0nET8I?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <p>Dicas sobre o IELTS</p>
                    <iframe width="100%" height="280" src="https://www.youtube.com/embed/lImjnmu6V0o?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <p>Palestra Ciencia sem Fronteiras UK na USP</p>
                    <iframe width="100%" height="280" src="https://www.youtube.com/embed/zqVoqTcFKVg?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <p>IELTS: Introducao</p>
                   <iframe width="100%" height="280" src="https://www.youtube.com/embed/gX3wggeaJNA?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <p>IELTS: Ciencia sem Fronteiras UK na USP</p>
                    <iframe width="100%" height="280" src="https://www.youtube.com/embed/IgEniuIvn0U?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <p>É preciso saber o idioma?</p>
                    <iframe width="100%" height="280" src="https://www.youtube.com/embed/XVF3WuW89iA?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <p>Secrets of applying for University(UCAS)</p>
                    <iframe width="100%" height="280" src="https://www.youtube.com/embed/DvqFG-C9RvY?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                
          </div>
        </div>                
                  
